body{
    /* width: 1400px; */
}
.header{
/* position: fixed; */
}
.wrapper_header{
    width: 1296px;
    margin: auto;
}
.header1{
    background: #10BBD5;
    height: 72px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 22px;
}
.btn-type{
    background-image: url(../img/cart_icon.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(28, 28, 28, 0);
}
span{
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
}
.btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-right: 52px;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 4px 52px 0 52px;
}
.category{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
.menu-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.menu-item{
    list-style-type: none;
}
.menu-item_list{
    text-decoration: none;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.section{
    background: var(--beige, #EEEEEF);
    padding-bottom:  120px;
    padding-top: 32px;
}
.wrapper_main{
    width: 1296px;
    margin: auto;
    /* background: var(--beige, #EEEEEF); */
}
.title{
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.line{
    border: 1px solid #A8A8A8;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.chat{
    background-image: url(../img/chat_icon.png);
    width: 51.2px;
    height: 51.2px;
    padding: 6.4px 6.4px;
    background-color: rgba(28, 28, 28, 0);
    background-color: #10BBD5;
    border: none;
    border-radius: 50%;

    position: fixed;
   
    right:165px ; 
   
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    box-sizing: border-box;  
}
.product{
    background-color: white;
    border: 1px solid gray;
}
.img-1{
    width: 178px;
    height: 280px;
    display: flex;
    margin: auto;
}
.img{
    text-decoration: none;
}
button{
    margin-bottom:  32px;
}
.text{
    background: #4200FF;
    border-radius: 4px;
    color: #F8FDFE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    width: 20px;
    height: 24px;
    padding: 4px 8px;
    position: relative;
    top: 48px; left: 30px;
}
.text_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 16px 32px;
    box-sizing: border-box;
}
.text1{
    display: inline;
    color: var(--black, #1F1F1F);
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.line_small{
    border: 1px solid #A8A8A8;
    width: 242px;
}
.text2{
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.price{
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.btn_first{
    border-radius: 4px;
    background: var(--eggplant, #4C394E);
    color: white;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 24px;
}
.btn_second{
    background: #4D762D;
    border-radius: 4px;
    color: white;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 24px;
}
.text_second{
    border-radius: 4px;
    color: #F8FDFE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    width: 20px;
    height: 24px;
    padding: 4px 8px;
    position: relative;
    top: 62px;
    left: 30px;
    background: #AF39E7;
}
.text_third{
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    padding: 4px 8px;
    width: 54px;
    height: 24px;
    position: relative;
    top: 30px;
    left: 67px;
}
.text_fifth{
    position: relative;
    right: 10px; top: 62px;
}
.text_sixth{
    position: relative;
    top: 62px;
}
.text_seven{
    top: 62px;
}
.text_eight{
    position: relative;
    top: 62px;
}
.text_nine{
    top: 47px;
}
.price_old{
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
     margin-left: 24px;
     text-decoration: line-through;
}
.text_none{
    visibility: hidden
}
.btn_third{
    background: #4D762D;
}
.text_fourth{
    border-radius: 4px;
    background: #EA33C0;
    padding: 4px 8px;
    width: 57px;
    height: 24px;
    position: relative;
    top: 63px;
}
.wrapper_footer{
    width: 1296px;
    margin: auto;
}
.footer{
   background: var(--eggplant, #4C394E);
   height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.year{
    margin-left: 52px;
}
.info{
    margin-right: 52px;
}